<!DOCTYPE html>
<html>
<head>
  <title>PaperclipAtompub</title>
  <%= stylesheet_link_tag    "paperclip-atompub/application", :media => "all" %>
  <%= javascript_include_tag "paperclip-atompub/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
